<div class="dosis">
<h1>Comment cela fonctionne?</h1>
<p>
  Chaque citoyen(ne) est appelé(e) à se prononcer sur chaque texte de la constitution actuelle.  
</p>
<p>
  Les textes de l'actuelle constitution recueillant une majorité des suffrages seront promus vers les textes de la sixième république. 
</p>
<p>
  Les citoyen(ne)s ayant voté pour l'ensemble des textes de l'actuelle constitution peuvent en proposer de nouveaux pour la sixième république.  
</p>

<h1>Quelle est la finalité?</h1>

  <p> 
    La finalité de cette démarche est double:  
  </p>
  <p> 
    D'une part elle permet à chaque citoyen(ne) de vérifier si l'actuelle constitution est conforme avec ses principes et ses aspirations.
  </p>
  <p> 
    D'autre part, elle permet de rédiger une nouvelle constitution faite de nouveaux articles et de tous les textes qui dégagent une adhésion dans l'actuelle constitution.
  </p>
<h1>Comment se déroule le vote?</h1>  
  <p>
    Ce site sera ouvert au public jusqu'au 1er Janvier 2020 afin de permettre à chaque citoyen(ne) de participer pleinement à l'élaboration de la sixième république.
  </p>
  <p>
    Une proposition pour une sixième république sera alors constituée de tous les textes majoritairement approuvés, plus les nouveaux articles ajoutés et approuvés par les votes.
  </p>
<h1>Et ensuite?</h1>
  <p>
    Lorsque cette proposition de sixième république sera enfin prête, nous lancerons une pétition pour organiser un référendum afin de la soumettre au vote.
  </p>
  <p>Voila!</p>

  <button md-raised-button style="margin-top:30px;"  (click)="vote()">On y va? Cliquez ici</button> 
  
</div>