<div class="dosis">
  <h1>Vous souhaitez nous aider?</h1>
  <p>
    Il y a plusieur formes d'aides que vous pouvez apporter. la premiere est de faire connaitre cette plateforme afin de faire participer vos amis et votre famille.    
  </p>
  <p>
    Plus nous serons nombreux à s'exprimer, plus forte sera notre voix.
  </p>
  <p>
    Si vous avez des critiques et/ou idées que vous souhaitez voir implemetées, faites le nous savoir via la rubrique "Nous contacter"
  </p>
  <p>
    Si vous êtes animateur graphiste, vous pouvez réaliser une vidéo animée pour expliquer le principe de cette démarche (voir la rubrique "Comment ça marche?")
  </p>
  <p>
    Si vous êtes développeur et que vous souhaitez participer aux efforts de developpement de la plateforme, ce projet sera partagé en Open Source afin de garantir une parfaite trensparence mais aussi proposer plus de fonctionnalités.
    En attendant, vous pouvez nous contacter pour obtenir un lien vers la solution.
  </p>
  <p>
    Si vous êtes journaliste, vous pouvez faire un article sur le sujet.
  </p>
  <p>
    Quelque soit votre métier, ou votre passion, vous pouvez contribuer à cette aventure.
  </p>
  <h2>Partager sur les réseaux sociaux:</h2>
  <div>
      <button md-raised-button [sharer]="'facebook'" [caption]="'Rejoindre la démocratie'" ><fa [name]="'facebook'" [border]=false></fa>Facebook</button>
      <button md-raised-button [sharer]="'googlePlus'" [caption]="'Rejoindre la démocratie'" ><fa [name]="'google-plus'" [border]=false></fa>Google Plus</button>
      <button md-raised-button [sharer]="'twitter'" [caption]="'Rejoindre la démocratie'" ><fa [name]="'twitter'" [border]=false></fa>Twitter</button>
      <button md-raised-button [sharer]="'linkedIn'" [caption]="'Rejoindre la démocratie'" ><fa [name]="'linkedin'" [border]=false></fa>LinkedIn</button>
      <button md-raised-button [sharer]="'pinterest'" [caption]="'Rejoindre la démocratie'" ><fa [name]="'pinterest'" [border]=false></fa>Pinterest</button>      
   </div>
</div>
