<div id="titre-home-page" class="home-page-header">
    La constituante<br>
    <table style="display: inline">
        <tbody>
        <tr style="height:5px">
            <td style="background:blue;width: 160px;" title="liberté"></td>
            <td style="background:white;width: 160px;" title="égalité"></td>
            <td style="background:red;width: 160px;" title="fraternité"></td>
        </tr>
        </tbody>
    </table>
</div>

<md-grid-list style="padding-bottom:150px" cols="1" rowHeight="800" >
  <md-grid-tile >
      <md-card class="home-page-card">       
        <md-card-content class="home-page-card-content">            
            <div class="claim-text">
                Redéfinissions <br><span class="underlined-text">ensemble</span><br> une nouvelle constitution plus démocratique.
            </div>
        </md-card-content>
        <md-card-footer> 
            <div class="arrow-scroll" id="secondsection">
               <a pageScroll href="#secondsection" [pageScrollDuration]="400" > <img src="/assets/img/down.png" style="display: inline;">   </a>
            </div>           
        </md-card-footer>
      </md-card>
  </md-grid-tile>
  <md-grid-tile >
      <md-card class="home-page-card" > 
        <md-card-content class="home-page-card-content">
            <div class="arrow-scroll">
               <a pageScroll href="#titre-home-page" [pageScrollDuration]="400" > <img src="/assets/img/up.png" style="display: inline;">   </a>
            </div>
            <div class="claim-text">
                <span class="underlined-text">Chaque citoyen(ne)</span><br> peut voter pour <br>
                <span class="underlined-text">chaque texte de la constitution.</span>
            </div>
        </md-card-content>
        <md-card-footer> 
            <div class="arrow-scroll" id="thirdsection">
               <a pageScroll href="#thirdsection" [pageScrollDuration]="400" > <img src="/assets/img/down.png" style="display: inline;">   </a>
            </div>           
        </md-card-footer>
    </md-card>
  </md-grid-tile>    
  <md-grid-tile >
       <md-card class="home-page-card" >
        <md-card-content class="home-page-card-content">
            <div class="arrow-scroll">
               <a pageScroll href="#titre-home-page" [pageScrollDuration]="400" > <img src="/assets/img/up.png" style="display: inline;">   </a>
            </div>
            <div class="claim-text">
                Chaque citoyen(ne) peut <br>
                <span class="underlined-text">enrichir</span> la constitution<br>
                de sa <span class="underlined-text">contribution.</span>
            </div>
        </md-card-content>
        <md-card-footer> 
            <div class="arrow-scroll" id="fourth">
               <a pageScroll href="#fourth" [pageScrollDuration]="400" > <img src="/assets/img/down.png" style="display: inline;">   </a>
            </div>           
        </md-card-footer>
    </md-card>
  </md-grid-tile>
  <md-grid-tile >
      <md-card class="home-page-card" >                
        <md-card-content class="home-page-card-content">
            <div class="arrow-scroll">
               <a pageScroll href="#titre-home-page" [pageScrollDuration]="400" > <img src="/assets/img/up.png" style="display: inline;">   </a>
            </div>
            <div class="claim-text">
                <span class="underlined-text">Une constitution</span> à l'image de sa constituante :<br>
                <span class="underlined-text">Les citoyens</span>
            </div>
        </md-card-content>
        <md-card-footer> 
            <div class="arrow-scroll" id="fifth">
               <a pageScroll href="#fifth" [pageScrollDuration]="400" > <img src="/assets/img/down.png" style="display: inline;">   </a>
            </div>           
        </md-card-footer>
    </md-card>
  </md-grid-tile>
  <md-grid-tile >
      <md-card class="home-page-card">
        <md-card-header>
            <md-card-title class="home-page-subheader">Rejoins l'histoire!</md-card-title>
        </md-card-header>        
        <md-card-content class="home-page-card-content">

            <md-tab-group>
                <md-tab label="Créer un profil">
                    <create-profile></create-profile>
                </md-tab>
                <md-tab label="S'identifier">
                    <login-component></login-component>
                </md-tab>
            </md-tab-group>
            
        </md-card-content>
        <md-card-actions>            
        </md-card-actions>
      </md-card>
  </md-grid-tile>
</md-grid-list>

